body {
  display: grid;
  height: 150vh;
  grid-template-rows: auto 1fr auto;
}

header {
    background-color: #2c3333;
    text-align: center;
    padding: 2em;
    color: #fff;
}
main {
    background-color: #395864;
    text-align: center;
    padding: 2em;
    color: #fff;
}
footer {
    background-color: #a5c9ca;
    text-align: center;
    padding: 2em;

}